<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/xml/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jubu.mapper.CommentMapper">
    <insert id="insert">
        INSERT INTO comment (board_id, writer_id, content, parent_id)
        VALUES (#{boardId}, #{writerId}, #{content}, #{parentId})
    </insert>

    <select id="getListByBoard" resultType="com.jubu.domain.CommentVO">
        SELECT * FROM comment WHERE board_id = #{boardId} ORDER BY reg_date ASC
    </select>
</mapper>